<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/mainLayout">
<body>
<div class="container" layout:fragment="content">

    <a href="/addMagazine" class="btn btn-success"></a>
    <div class="row mt-5 align-items-end">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="magazine : ${magazineList}">
                <td th:text="${magazine.getId()}"></td>
                <td th:text="${magazine.getName()}"></td>
                <td th:text="${magazine.getDescription()}"></td>
            </tr>
            </tbody>
        </table>
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag.png" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag2.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag3.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag4.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mt-5 align-items-end">-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag2.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag3.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag4.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag.png" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
    </div>

</div>
</body>
</html>