<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/mainLayout">
<body>
<div class="container" layout:fragment="content">

    <a href="/addMagazine" class="btn btn-success mt-5" data-bs-toggle="modal" data-bs-target="#addMagazine">Add magazine</a>
    <div class="row mt-5 align-items-end">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="magazine : ${magazineList}">
                <td th:text="${magazine.getId()}"></td>
                <td th:text="${magazine.getName()}"></td>
                <td th:text="${magazine.getDescription()}"></td>
            </tr>
            </tbody>
        </table>
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag.png" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag2.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag3.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag4.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mt-5 align-items-end">-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag2.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag3.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag4.jpg" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <img src="img/img_mag.png" alt="MAGAZINE" width="100%">-->
<!--            <a href="#" class="btn btn-success mt-2">open for read</a>-->
<!--        </div>-->
    </div>

    <!-- Modal Add Magazine -->
    <div class="modal fade" id="addMagazine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Magazine</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/add-magazine'}" method="post" th:object="${newMagazine}">
                        <div class="mb-3">
                            <label for="magazineName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="magazineName" th:field="*{name}" required>
                        </div>
                        <div class="mb-3">
                            <label for="magazineDescription" class="form-label">Description</label>
                            <textarea cols="30" rows="10" class="form-control" id="magazineDescription" th:field="*{description}"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>