<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/mainLayout">
<body>
<div class="container" layout:fragment="content">
    <div class="row mt-5 align-items-end">
        <div class="col-lg-3">
            <img src="img/img_mag.png" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
        <div class="col-lg-3">
            <img src="img/img_mag2.jpg" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
        <div class="col-lg-3">
            <img src="img/img_mag3.jpg" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
        <div class="col-lg-3">
            <img src="img/img_mag4.jpg" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
    </div>
    <div class="row mt-5 align-items-end">
        <div class="col-lg-3">
            <img src="img/img_mag2.jpg" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
        <div class="col-lg-3">
            <img src="img/img_mag3.jpg" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
        <div class="col-lg-3">
            <img src="img/img_mag4.jpg" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
        <div class="col-lg-3">
            <img src="img/img_mag.png" alt="MAGAZINE" width="100%">
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
    </div>

</div>
</body>
</html>